<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/pemilih">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title style="display:inline-flex">Pemilih Add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="container">
    <ion-card style="padding : 20px">
      <ion-list lines="full">
        <strong style="width: 100%;">Pemilih Add</strong>
        <form [formGroup]="addPemilihForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">NIK</ion-label>
            <ion-input formControlName="nik" type="number" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nama</ion-label>
            <ion-input formControlName="nama" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password" required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="primary" expand="block">Add</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
